body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 350px;
    padding: 14px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit";
}


.qr-image {
    width: 100%;
}

.qr-image img {
    width: 100%;
    border-radius: 10px;
}

.content {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.heading {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.paragraph {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}